/* Calculator CSS */

.container {
    display: flex;
    width: 380px;
    height: 540px;
    margin: auto;
    background-color: rgba(17, 17, 61, 0.89);
    flex-direction: column;
    padding: 10px;
    border-radius: 12px;
}

.display-container {
    background: white;
    flex: 2;
    margin: 10px;
    border-radius: 10px;
}

.clear-container {
    flex: 1;
    margin: 0 10px 0;
    display: flex;
    justify-content: space-around;
}

.number-container {
    flex: 5;
    margin: 10px;
    display: flex;
}

.clear-display, .delete-digit {
    flex: 1;
    margin: 2px;
    border-radius: 10px;
    font-size: 22px;
}

.number-block {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.operator-block {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    display: flex;
    flex: 1;
}

.num, .operator {
    flex: 1;
    border-radius: 6px;
    margin: 1px;
    font-size: 28px;
}